@layer components {
	/* Variables */
	.apps {
		--sidebar-transition-duration: 0.3s;
		--sidebar-transition-timing: ease;
		--sidebar-width: 280px;
		--sidebar-width-collapse: 80px;
		--sidebar-default-width: 280px;
		--header-height: 70px;
	}

	@media (max-width: theme(--breakpoint-lg)) {
		.apps {
			--sidebar-width: 280px;
			--header-height: 60px;
		}
	}

	/* Base */
	.apps .kt-header {
		height: var(--header-height);
	}

	.apps .kt-sidebar {
		width: var(--sidebar-width);
	}

	.apps.kt-header-fixed .kt-wrapper {
		padding-top: var(--header-height);
	}

	/* Desktop mode */
	@media (min-width: theme(--breakpoint-lg)) {
		.apps .kt-sidebar {
			width: var(--sidebar-width);
			transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
		}

		.apps .kt-sidebar .kt-sidebar-header {
			height: var(--header-height);
		}

		.apps .kt-sidebar .kt-sidebar-wrapper {
			width: var(--sidebar-default-width);
		}

		.apps .kt-sidebar .kt-sidebar-logo {
			width: var(--sidebar-default-width);
		}

		.apps .kt-sidebar .small-logo {
			display: none;
		}

		.apps.kt-sidebar-fixed .kt-wrapper {
			padding-inline-start: var(--sidebar-width) !important;
		}

		.apps.kt-sidebar-fixed.kt-header-fixed .kt-header {
			inset-inline-start: var(--sidebar-width) !important;
		}

		.apps.kt-sidebar-fixed.kt-header-fixed .kt-wrapper {
			padding-top: var(--header-height);
		}

		.apps.kt-sidebar-collapse {
			--sidebar-width: var(--sidebar-width-collapse);
		}

		.apps.kt-sidebar-collapse .kt-sidebar {
			transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
		}

		.apps.kt-sidebar-collapse .kt-sidebar.animating {
			pointer-events: none;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:hover:not(.animating) {
			width: var(--sidebar-default-width);
			transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .default-logo {
			display: none;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .small-logo {
			display: flex;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-title,
		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-arrow,
		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-badge,
		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-title,
		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,
		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
			display: none;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-accordion {
			display: none;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-heading {
			visibility: hidden;
			position: relative;
		}

		.apps.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-heading::before {
			content: "...";
			color: currentColor;
			font-size: inherit;
			position: absolute;
			visibility: visible;
			display: inline-block;
			bottom: 50%;
			inset-inline-start: 0;
			margin-inline-start: 0.225rem;
			transform: translateX(100%);
		}

		.apps.kt-sidebar-collapse .kt-sidebar .kt-sidebar-content {
			overflow: hidden;
		}
	} 

	.apps .kt-wrapper {	
		transition: padding-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
	}

	.apps .kt-header {
		transition: inset-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
	}
}